/*Colors
#EB5757;
#FAFAFA;
*/


@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dosis|Major+Mono+Display|Quicksand|Ubuntu|Work+Sans');

body{
	font-family: 'Work Sans', sans-serif;
	max-width: 100vw;
	margin: 0px;
	font-size: 16pt;
}

main{
	background-color: #FAFAFA;
}

body, main,footer,header,section, article{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

section{
	margin: auto 10px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	width: 100%;
}

h1{
	font-size: 2rem;
	text-transform: uppercase;
	color: #EB5757;
}

h2, h3{
	text-align: center;
	text-transform: capitalize;
}

h2{
	font-size: 1.5rem;
	color: #000;
}

h3{
	font-size: 1.2rem;
	color: #EB5757;
}

img.product_image{
	width: 200px;
	height: 150px;
	margin: 5px auto;
}

img.img_socialMediaIcon{
	width: 45px;
	height: 45px;
}

iframe#descVideo {
    margin: auto;
}

div.product {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}

h2.card_name, h3.card_price, ul.card_properties {
    margin: 5px;
}

p{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 1rem;
	color: #000000;
}

h2#moreProducts_name {
    margin: auto;
}

ul#moreProducts_items {
    margin-bottom: 15px;
    margin-top: 15px;
}

div.more_products {
    margin: 10px;
}

ul#moreProducts_items>li{
	list-style: none;
}

ul#moreProducts_items>li.moreProducts_item::before{
	content: "☆";
	font-weight: bold;
	color: #EB5757;
	display: inline;
	width: 1rem;
	margin-left: -2rem;
	margin-right: 1rem;
}

ul.card_properties>li{
	list-style: none;
}

ul.card_properties>li.card_properties_items::before{
	content: "✓";
	font-weight: bold;
	color: #EB5757;
	display: inline;
	width: 1rem;
	margin-left: -2rem;
	margin-right: 1rem;
}

button.btnReadMore>a>p, button#moreProducts_btnReadMore>a>p{
	margin: 5px auto;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	text-decoration-line: underline;
}

button.btnReadMore, button#moreProducts_btnReadMore{
	width: calc(100% - 20px);
	margin: auto;
	background-color: #EB5757;
	border-style: none;
}

button>a{
	width: 100%;
	height: 100%;
}